.btn-link {
    text-decoration: none !important;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.form-control-custom {
    border: none;
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

